In [ ]:
numCars = (93)
print (numCars)

Car = "GTR"
print ("there are")

93
there are

In [ ]:
Highscore = 9
isRaining = False
firstName = "Ethan"
print(str(Highscore) + " is an integer ")
print(str(isRaining) + " is a bolean ")
print(firstName + " is a string ")

9 is an integer
False is a bolean
Ethan is a string

In [ ]:
currentScore = 10
highScore = currentScore
highScore = 17
print(str(highScore))

17

In [ ]:
groupNames = ["Matthew" , "Josh" , "Lindsey" , "Ethan"]
print(groupNames[0])
print(groupNames[1])
print(groupNames[2])
print(groupNames[3])

Matthew
Josh
Lindsey
Ethan

In [ ]:
Classes = ["USH", "Calc AB" , "AP Physics" , "AP CSP" , "AmLit"]
print(Classes[1])

Calc AB

In [ ]:
##Data Abstraction and Lists

scores1 = [89, 72, 34, 56, 83]
scores2 = [23, 25, 96, 55]
scores1 = scores2
print(str(scores1))

[23, 25, 96, 55]

In [ ]:
import json
lst = [1,2,3,4]
print(type(lst))
a = json.dumps(lst)
print (a)
print(type(a))

<class 'list'>
[1, 2, 3, 4]
<class 'str'>

In [ ]:
import json
int = 16
print (int)
print (type(int))

print("")

car = "GTR"
print (car)
print(type(car))

print("")


groupmates = ["Matthew", "Lindsey", "Joshua", "Ethan"]
print (groupmates)
print(type(groupmates))

print("")


CatsAreBetter = True
a = "Cats Are Better"
if CatsAreBetter == True:
    print(a)
    print(CatsAreBetter)
    print(type(CatsAreBetter))

In [ ]:
import json

age = 16  #int
Nm = "Ethan" #str
Fly = ("Ethan", "Nathan", "Kelly", "Steve") #list
OnlyChild = False #bool
a = "Not an only Child"

print("My name is", (Nm), ", I am", (age), "years old.", ", my family consists of", (Fly))

if OnlyChild ==False:
    print (a)

My name is Ethan , I am 16 years old. , my family consists of ('Ethan', 'Nathan', 'Kelly', 'Steve')
Not an only Child